.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.laptopContainer {
  position: absolute;
  top: 0%;
  right: 3%;
  width: fit-content;
  display: block;
  height: fit-content;
  padding-left: 2%;

  Image {
    position: absolute;
  }

}

.cubeContainer1 {
  position: absolute;
  left: 8%;
  top: 2.5%;
  z-index: 2;
  width: 50%;
  Image {
    position: inherit;
  }
}

.cubeContainer2 {
  position: absolute;
  left: 8%;
  top: 5%;
  z-index: 1;
  width: 50%;
  Image {
    position: inherit;
  }
}

.cubeContainer3 {
  position: absolute;
  left: 8%;
  top: 7%;
  z-index: -1;
  width: 50%;
  
  Image {
    position: inherit;

  }
}



.homeContainer {
  margin-top: 5%;
  margin-bottom: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  border-left: 3px solid rgba(42, 252, 217, 0.527);
  z-index: 4;
  margin-left: 30%;
  margin-right: 0%;
  width: 60%;
  overflow: hidden;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  
  
  .firstInfo {
    color: transparent;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: fit-content;
    font-family: monospace;
    padding: 0 4% 0 4%;
    border-left: 1px solid rgba(42, 252, 217, 0.527);
    transition: 400ms border-left, 400ms background-color;
    // background-color: rgba(13, 29, 27, 0.637);
    z-index: 5;
    
    h1 {
      color: rgb(255, 66, 66);
      font-size: 2.7em;
      animation: headAnime 4s infinite;
      width: fit-content;
    }
  
    p {
      
      color: rgb(50, 197, 173);
      font-size: 1.5em;
      line-height: 150%;
      width: fit-content;
    }

    &:hover {
      border-left: 6px solid rgba(42, 252, 217, 0.527);
      transition: 250ms border-left, 250ms background-color;
      background-color: rgba(0, 0, 0, 0.548);
    }
  }
}

.interest {
  list-style-type: none;
  font-size: 0.8em;
  cursor: pointer;
  li {
    color: rgb(47, 199, 174);
    
    &:hover {
      color: rgb(42, 252, 217);
    }
  }  
}

.optimize, .ml, .vision, .ui {
  cursor: pointer;
  font-size: 0.8em;
  li {
    color: rgb(47, 199, 174);

  }
}

.blink {
  animation: blinkAnim 1s infinite;
}

.todo {
  color: rgb(255, 208, 0);
}

.dropdown {
  display: none;
}

.dropdownHidden {
  width: 100%;
  background: linear-gradient(to right, rgb(4, 34, 31), rgb(5, 12, 11));
  height: 10vh;
  font-family: monospace;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  transition: 300ms height;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@keyframes blinkAnim {
  0% {
    color: inherit;
  }
  50% {
    color: transparent
  }
  100% {
    color: inherit;
  }
}

@keyframes headAnime {
  0% {
    filter: brightness(0.7);
  }
  50% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.7);
  }
}

@media screen and (max-width: 600px) {
  .dropdown {
  
    padding: 0;
    margin: 0;
    z-index: 9;
    width: 100%;
    background: linear-gradient(to right, rgb(4, 34, 31), rgb(5, 12, 11));
    height: 20vh;
    font-family: monospace;
    font-size: 1.3em;
    color: rgb(31, 122, 110);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    transition: 300ms height, 200ms 100ms color;
    cursor: pointer;
      span {
        &:hover {
          color: rgb(36, 184, 164);
          transition: 150ms color;
        }
      }
  }

  .homeContainer {
    margin-left: 15%;
    width: 85%;
    .firstInfo {
      background-color: rgba(0, 0, 0, 0.397);
    
      &:hover {
        background-color: rgba(0, 0, 0, 0.514);
      }
    }
  }
}